<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Fout: Toegang geweigerd</title>
</head>
<body>
    <div class="col s6">
        <h1>Fout: Toegang geweigerd</h1>
        <p>U heeft geen toegang tot deze pagina.</p>
    </div>
<script th:href="@{/js/materialize.min.js}"></script>
</body>
</html>