<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Lijst van plannings</title>
</head>
<body>
<form method="POST" th:action="@{/logout}" style="float: right">
    <button class="btn btn-danger btn-md logout" name="logout" value="Logout">Logout</button>
</form>
    <h1>Lijst van plannings: Welcome <span th:text="${fullname}"> username </span></h1>

    <div class="collection">
        <a th:each="planning : ${plannings}" th:href="@{/planning(id=${planning.id})}" class="collection-item">
            <span th:text="${planning.id}">id</span>
            <span th:text="${planning.datum}">datum</span>
        </a>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <a class="waves-effect waves-light btn" th:href="@{/nieuwePlanning}"><i class="material-icons left">add</i>Nieuwe planning</a>
        </div>
    </div>
    <script th:href="@{/js/materialize.min.js}"></script>
</body>
</html>