<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Jaegher gebruikers</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script>
        function rowClicked(value) {
            location.href = "/Gebruikers/edit" + value
        }
    </script>
</head>
<body>
<h1 style="margin-bottom: 20px;">Gebruikers beheer </h1>
<button style="margin-bottom: 15px;" class="btn btn-primary btn-md" onclick='window.location.href="/home";'>&laquo; Home page</button>


<form method="POST" th:action="@{/Gebruikers}" th:object="${gebruiker}">

    <input type="hidden" th:field="*{id}"/>

    <div class="form-group">
        <label>User naam:&nbsp;</label><input type="text" th:field="*{username}" style="    width: 40em"/>
        <span class="validationError"
              th:errors="*{username}">
        </span>
    </div>
    <div class="form-group">
        <label>Rol: </label><input type="text" th:field="*{role}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{role}">
        </span>
    </div>
    <div class="form-group">
        <label>Wachtwoord: </label><input type="text" th:field="*{password}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{password}">
        </span>
    </div>

    <div style="margin-top: 15px;" class="form-group" th:if="${gebruiker.getId()}==0">
        <button class="btn btn-primary btn-md" name="submit">Maak gebruiker</button>
        <button class="btn btn-primary btn-md" name="submit">Maak test gebruiker</button>
    </div>

    <div class="form-group" th:if="${gebruiker.getId()}!=0">
        <button class="btn btn-primary btn-md" name="submit">Delete gebruiker</button>
        <button class="btn btn-primary btn-md" name="submit">Update gebruiker</button>
    </div>

</form>



<h3>Lijst van gebruikers:</h3>

    <div class="table-striped well">
        <div style="font-weight: bold; margin-bottom: 10px;" class="row">
            <div class="col-md-1 text-left">Usernaam</div>
            <div class="col-md-2 text-left">Rol</div>
        </div>
    <div th:each="gebruiker: ${gebruikers}" class="row" th:onclick="'window.location.href = \'' + @{/Gebruikers/edit?id={id} (id=${gebruiker.getId()}) } + '\''">
        <div class="col-md-1 text-left" th:text="${gebruiker.getUsername()}">usernaam</div>
        <div class="col-md-2 text-left" th:text="${gebruiker.getRole()}"> rol</div>
        <br>
    </div>
</div>
</body>
</html>