<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Jaegher klanten</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script>
        function rowClicked(value) {
            location.href = "/klanten/edit" + value
        }
    </script>
</head>
<body>
<h1 th:if="${entryData.getId()}==0">Overzicht van de klanten </h1>
<h1 th:if="${entryData.getId()}!=0">Overzicht van </h1>
            <button class="btn btn-primary btn-md" onclick='window.location.href="/home";'>&laquo; Home page</button>
            <button class="btn btn-primary btn-md" th:if="${entryData.getId()}!=0" onclick='window.location.href="/klanten";'>&laquo; Terug naar klanten</button>
<br><br><br>


<form method="POST" th:action="@{/klanten}" th:object="${entryData}">

    <input type="hidden" th:field="*{id}"/>

    <div class="form-group">
        <label>naam:&nbsp;</label><input type="text" th:field="*{naam}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{naam}">
        </span>
    </div>
    <div class="form-group">
        <label>achternaam: </label><input type="text" th:field="*{achternaam}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{achternaam}">
        </span>
    </div>
    <div class="form-group">
        <label>Email:</label><input type="text" th:field="*{email}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{email}">
        </span>
    </div>
    <div class="form-group" >
        <label>Geboortedatum:</label><input type="date"  th:field="*{geboortedatum}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{geboortedatum}">
        </span>
    </div>
    <div class="form-group">
        <label>Addres(optioneel):</label><input type="text" th:field="*{addres}" style="width: 40em"/>
    </div>
    <div class="form-group" th:if="${entryData.getId()}!=0">
        <label>Lengte linkerbeen:&nbsp;</label><input type="text" th:field="*{linkerBeen}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{linkerBeen}">
        </span>
    </div>
    <div class="form-group" th:if="${entryData.getId()}!=0">
        <label>Lengte rechterbeen:&nbsp;</label><input type="text" th:field="*{rechterBeen}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{rechterBeen}">
        </span>
    </div>
    <div class="form-group" th:if="${entryData.getId()}!=0">
        <label>Bekken kanteling:&nbsp;</label><input type="text" th:field="*{bekkenkanteling}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{bekkenkanteling}">
        </span>
    </div>
    <div class="form-group" th:if="${entryData.getId()}!=0">
        <label>Lengte linkerarm:&nbsp;</label><input type="text" th:field="*{linkerArm}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{linkerArm}">
        </span>
    </div>
    <div class="form-group" th:if="${entryData.getId()}!=0">
        <label>Lengte rechterarm:&nbsp;</label><input type="text" th:field="*{rechterArm}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{rechterArm}">
        </span>
    </div>
    <div class="form-group" th:if="${entryData.getId()}!=0">
        <label>gewicht:&nbsp;</label><input type="text" th:field="*{gewicht}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{gewicht}">
        </span>
    </div>
    <div class="form-group" th:if="${entryData.getId()}!=0">
        <label>groote:&nbsp;</label><input type="text" th:field="*{groote}" style="width: 40em"/>
        <span class="validationError"
              th:errors="*{groote}">
        </span>
    </div>



    <div class="form-group" th:if="${entryData.getId()}==0">
        <button class="btn btn-primary btn-md" name="submit">Maak klant</button>
        <button class="btn btn-primary btn-md" name="test">Maak test klant</button>
    </div>
    <div class="form-group" th:if="${entryData.getId()}!=0">
        <button class="btn btn-primary btn-md" name="delete">Delete klant</button>
        <button class="btn btn-primary btn-md" name="submit">Update klant</button>
    </div>
</form>



<div class="table-striped well" >
    <div th:each="klant: ${klanten}" class="row" th:onclick="'window.location.href = \'' + @{/klanten/edit?id={id} (id=${klant.getId()}) } + '\''">
        <div class="col-md-1 text-left" th:text="${klant.getNaam()}"> naam</div>
        <div class="col-md-2 text-left" th:text="${klant.getAchternaam()}"> achternaam</div>
        <div class="col-md-3 text-left" th:text="${klant.getAddres()}"> email</div>
        <div class="col-md-3 text-left" th:text="${klant.getEmail()}"> addres</div>
        <div class="col-md-3 text-left" th:text="${klant.getGeboortedatum()}"> geboortedatum</div>
        <br>
    </div>
</div>

<table class="table"  th:if="${entryData.getId()}!=0">
    <thead>
    <tr>
        <th>rechterbeen(mm)</th>
        <th>linkerBeen(mm)</th>
        <th>Beenlengte verschil(mm)</th>
        <th>Bekken kanteling(mm)</th>
        <th>linker arm(mm)</th>
        <th>rechter arm(mm)</th>
        <th>gewicht(kg)</th>
        <th>groote(cm)</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="klant: ${klanten}" >
        <td class="col-md-1 text-left" th:text="${klant.lichaamsmaat.rechterBeen}"></td>
        <td class="col-md-1 text-left" th:text="${klant.lichaamsmaat.linkerBeen}"></td>
        <td class="col-md-1 text-left" th:text="${klant.lichaamsmaat.linkerBeen - klant.lichaamsmaat.rechterBeen}"></td>
        <td class="col-md-1 text-left" th:text="${klant.lichaamsmaat.bekkenkanteling}"></td>
        <td class="col-md-1 text-left" th:text="${klant.lichaamsmaat.linkerArm}"></td>
        <td class="col-md-1 text-left" th:text="${klant.lichaamsmaat.rechterArm}"></td>
        <td class="col-md-1 text-left" th:text="${klant.lichaamsmaat.gewicht}"></td>
        <td class="col-md-1 text-left" th:text="${klant.lichaamsmaat.groote}"></td>
    </div>
    </tbody>
</table>
</body>
</html>
