<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Jaegher klanten</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script>
        function rowClicked(value) {
            location.href = "/klanten/edit" + value
        }
    </script>
</head>
<body>
<h1>Overzicht van de klanten</h1>
            <button class="btn btn-primary btn-md" name="previous" onclick='window.location.href="/home";'>&laquo; Home page</button>
            <br><br><br>


<form method="POST" th:action="@{/klanten}" th:object="${klant}">

    <input type="hidden" th:field="*{id}"/>

    <div class="form-group">
        <label>naam:&nbsp;</label><input type="text" th:field="*{naam}" style="width: 40em"/>
    </div>
    <div class="form-group">
        <label>achternaam: </label><input type="text" th:field="*{achternaam}" style="width: 40em"/>
    </div>
    <div class="form-group">
        <label>Email:&nbsp;</label><input type="text" th:field="*{email}" style="width: 40em"/>
    </div>

    <div class="form-group" th:if="${klant.getId()}==0">
        <button class="btn btn-primary btn-md" name="submit">Create entry</button>
    </div>
    <div class="form-group" th:if="${klant.getId()}!=0">
        <button class="btn btn-primary btn-md" name="delete">Delete entry</button>
        <button class="btn btn-primary btn-md" name="update">Update entry</button>
    </div>
</form>



<div class="table-striped well" >
    <div th:each="klant: ${klanten}" class="row" th:onclick="'window.location.href = \'' + @{/klanten/edit?id={id} (id=${klant.getId()}) } + '\''">

        <div class="col-md-1 text-left" th:text="${klant.getId()}"> id</div>
        <div class="col-md-1 text-left" th:text="${klant.getNaam()}"> naam</div>
        <div class="col-md-1 text-left" th:text="${klant.getAchternaam()}"> achternaam</div>
        <div class="col-md-1 text-left" th:text="${klant.getEmail()}"> email</div>
    </div>
</div>
</body>
</html>
